.uv-mdc-iframeDialog iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.mdc-dialog .uv-mdc-iframeDialog.mdc-dialog__surface {
    max-width: unset;
}

.mdc-dialog .uv-mdc-iframeDialog .mdc-dialog__content {
    padding: 0;
    overflow: hidden;
}
