.uv-preferences-tab--inactive {
    display: none;
}

/**
 * Vector compatibility.
 */
.vector-body #uvPreferences h2 {
    margin-top: 0;
}

#uvPreferences {
    border: 1px solid var(--mdc-theme-primary);
    border-radius: 5px;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

#uvPreferences .mdc-tab-bar {
    background-color: #ddd;
}

#uvPreferences .mdc-tab--active {
    background-color: #fefefe;
    overflow: hidden;
}

#uvPreferences .mdc-radio {
    padding: 5px 10px;
}

#uvPreferences .mdc-radio > input {
    /** Must be 20px + (padding height (see above rule) * 2) */
    height: 30px;
}

#uvPreferences .uv-preferences-content,
#uvPreferences .uv-preferences-save {
    padding: 1.5em;
}

.uv-mdc-preference > .mdc-form-field {
    max-width: 512px;
    width: 80vw;
}

#uvPreferences .uv-sortable li {
    user-select: none;
}

#uvPreferences .uv-sortable .mdc-list-drag {
    padding: 8px;
    border-radius: 50%;
}

#uvPreferences
    .uv-sortable
    li:not(.sortable-chosen)
    > .mdc-form-field
    > .mdc-list-drag:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
